* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: Times, serif;
    color: #000;
    background-color: #eac274;
  }
  .header {
    padding: 2rem;
    margin: 1rem 0;
    text-align: center;
  }
  header > .title {
    margin-bottom: 1rem;
  }
  .tribute {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    margin: 0 auto;
    background: #4edde4;
    color: #000;
    align-items: center;
    padding: 0 0 0 1rem;
    border-radius: 50px;
  }
  .tribute blockquote {
    text-align: center;
    font-size: 3rem;
  }
  .tribute img {
    max-width: 100%;
    border-radius: 50px;
  }
  .bio {
    margin: 2rem auto;
    padding: 0 0.5rem;
    max-width: 40rem;
  }
  .bio > h2 {
    margin-bottom: 3rem;
    font-size: 3rem;
    line-height: 1.5;
  }
  .bio > p {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
  }
  .bio > hr {
    margin-top: rem;
  }
  